<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CMPVersion5.1.1</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.java.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.java.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.java.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeThemeServlet</servlet-name>
    <servlet-class>com.java.servlet.ChangeThemeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.java.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryAnalyzerServlet</servlet-name>
    <servlet-class>com.java.servlet.QueryAnalyzerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GeneralConfigurationServlet</servlet-name>
    <servlet-class>com.java.servlet.GeneralConfigurationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BudgetServlet</servlet-name>
    <servlet-class>com.java.servlet.BudgetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModelManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.ModelManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelManagementServlet</servlet-name>
    <url-pattern>/ModelManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RolesServlet</servlet-name>
    <servlet-class>com.java.servlet.RolesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolesServlet</servlet-name>
    <url-pattern>/RolesServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainAccordionServlet</servlet-name>
    <servlet-class>com.java.servlet.MainAccordionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainAccordionServlet</servlet-name>
    <url-pattern>/MainAccordionServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.UserManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagementServlet</servlet-name>
    <url-pattern>/UserManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplicationManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.ApplicationManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationManagementServlet</servlet-name>
    <url-pattern>/ApplicationManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplicationStatusManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.ApplicationStatusManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationStatusManagementServlet</servlet-name>
    <url-pattern>/ApplicationStatusManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserStatusManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.UserStatusManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStatusManagementServlet</servlet-name>
    <url-pattern>/UserStatusManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryTypeManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CategoryTypeManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryTypeManagementServlet</servlet-name>
    <url-pattern>/CategoryTypeManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CategoryManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryManagementServlet</servlet-name>
    <url-pattern>/CategoryManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CurrencyManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CurrencyManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrencyManagementServlet</servlet-name>
    <url-pattern>/CurrencyManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EntityManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.EntityManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntityManagementServlet</servlet-name>
    <url-pattern>/EntityManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim1ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim1ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim1ManagementServlet</servlet-name>
    <url-pattern>/CustDim1ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim2ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim2ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim2ManagementServlet</servlet-name>
    <url-pattern>/CustDim2ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim3ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim3ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim3ManagementServlet</servlet-name>
    <url-pattern>/CustDim3ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim4ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim4ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim4ManagementServlet</servlet-name>
    <url-pattern>/CustDim4ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim5ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim5ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim5ManagementServlet</servlet-name>
    <url-pattern>/CustDim5ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim6ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim6ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim6ManagementServlet</servlet-name>
    <url-pattern>/CustDim6ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim7ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim7ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim7ManagementServlet</servlet-name>
    <url-pattern>/CustDim7ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim8ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim8ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim8ManagementServlet</servlet-name>
    <url-pattern>/CustDim8ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim9ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim9ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim9ManagementServlet</servlet-name>
    <url-pattern>/CustDim9ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim10ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim10ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim10ManagementServlet</servlet-name>
    <url-pattern>/CustDim10ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim11ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim11ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim11ManagementServlet</servlet-name>
    <url-pattern>/CustDim11ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustDim12ManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.CustDim12ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDim12ManagementServlet</servlet-name>
    <url-pattern>/CustDim12ManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScenarioManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.ScenarioManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScenarioManagementServlet</servlet-name>
    <url-pattern>/ScenarioManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScenarioHierarchyManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.ScenarioHierarchyManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScenarioHierarchyManagementServlet</servlet-name>
    <url-pattern>/ScenarioHierarchyManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PeriodManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.PeriodManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeriodManagementServlet</servlet-name>
    <url-pattern>/PeriodManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.AccountManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountManagementServlet</servlet-name>
    <url-pattern>/AccountManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TypeManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.TypeManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeManagementServlet</servlet-name>
    <url-pattern>/TypeManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NatureManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.NatureManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NatureManagementServlet</servlet-name>
    <url-pattern>/NatureManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LabelManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.LabelManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabelManagementServlet</servlet-name>
    <url-pattern>/LabelManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScenarioVersionManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.ScenarioVersionManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScenarioVersionManagementServlet</servlet-name>
    <url-pattern>/ScenarioVersionManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountVersionManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.AccountVersionManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountVersionManagementServlet</servlet-name>
    <url-pattern>/AccountVersionManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TilesManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.TilesManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TilesManagementServlet</servlet-name>
    <url-pattern>/TilesManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/userhome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Accounts</servlet-name>
    <jsp-file>/accountmanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accounts</servlet-name>
    <url-pattern>/Accounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Applications</servlet-name>
    <jsp-file>/applicationmanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Applications</servlet-name>
    <url-pattern>/Applications</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplicationStatus</servlet-name>
    <jsp-file>/appstatusmanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationStatus</servlet-name>
    <url-pattern>/ApplicationStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Categories</servlet-name>
    <jsp-file>/categorymanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categories</servlet-name>
    <url-pattern>/Categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryTypes</servlet-name>
    <jsp-file>/categorytypemanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryTypes</servlet-name>
    <url-pattern>/CategoryTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Currencies</servlet-name>
    <jsp-file>/currencymanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Currencies</servlet-name>
    <url-pattern>/Currencies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim10</servlet-name>
    <jsp-file>/custdim10management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim10</servlet-name>
    <url-pattern>/CustomDim10</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim11</servlet-name>
    <jsp-file>/custdim11management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim11</servlet-name>
    <url-pattern>/CustomDim11</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim12</servlet-name>
    <jsp-file>/custdim12management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim12</servlet-name>
    <url-pattern>/CustomDim12</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim1</servlet-name>
    <jsp-file>/custdim1management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim1</servlet-name>
    <url-pattern>/CustomDim1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim2</servlet-name>
    <jsp-file>/custdim2management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim2</servlet-name>
    <url-pattern>/CustomDim2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim3</servlet-name>
    <jsp-file>/custdim3management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim3</servlet-name>
    <url-pattern>/CustomDim3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim4</servlet-name>
    <jsp-file>/custdim4management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim4</servlet-name>
    <url-pattern>/CustomDim4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim5</servlet-name>
    <jsp-file>/custdim5management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim5</servlet-name>
    <url-pattern>/CustomDim5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim6</servlet-name>
    <jsp-file>/custdim6management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim6</servlet-name>
    <url-pattern>/CustomDim6</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim7</servlet-name>
    <jsp-file>/custdim7management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim7</servlet-name>
    <url-pattern>/CustomDim7</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim8</servlet-name>
    <jsp-file>/custdim8management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim8</servlet-name>
    <url-pattern>/CustomDim8</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDim9</servlet-name>
    <jsp-file>/custdim9management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDim9</servlet-name>
    <url-pattern>/CustomDim9</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EntityManagement</servlet-name>
    <jsp-file>/entitymanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntityManagement</servlet-name>
    <url-pattern>/EntityManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GeneralConfiguration</servlet-name>
    <jsp-file>/generalconfiguration.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneralConfiguration</servlet-name>
    <url-pattern>/GeneralConfiguration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModelManagement</servlet-name>
    <jsp-file>/modelmanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelManagement</servlet-name>
    <url-pattern>/ModelManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NatureManagement</servlet-name>
    <jsp-file>/naturemanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NatureManagement</servlet-name>
    <url-pattern>/NatureManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LabelManagement</servlet-name>
    <jsp-file>/labelmanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabelManagement</servlet-name>
    <url-pattern>/LabelManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScenarioVersionManagement</servlet-name>
    <jsp-file>/scenarioversionmanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScenarioVersionManagement</servlet-name>
    <url-pattern>/ScenarioVersionManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountVersionManagement</servlet-name>
    <jsp-file>/accountversionmanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountVersionManagement</servlet-name>
    <url-pattern>/AccountVersionManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PeriodManagement</servlet-name>
    <jsp-file>/periodmanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeriodManagement</servlet-name>
    <url-pattern>/PeriodManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RolesManagement</servlet-name>
    <jsp-file>/rolesmanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolesManagement</servlet-name>
    <url-pattern>/RolesManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScenarioManagement</servlet-name>
    <jsp-file>/scenariomanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScenarioManagement</servlet-name>
    <url-pattern>/ScenarioManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScenarioHierarchyManagement</servlet-name>
    <jsp-file>/scenariohierarchymanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScenarioHierarchyManagement</servlet-name>
    <url-pattern>/ScenarioHierarchyManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TypeManagement</servlet-name>
    <jsp-file>/typemanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeManagement</servlet-name>
    <url-pattern>/TypeManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManagement</servlet-name>
    <jsp-file>/usermanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagement</servlet-name>
    <url-pattern>/UserManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserStatusManagement</servlet-name>
    <jsp-file>/userstatusmanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStatusManagement</servlet-name>
    <url-pattern>/UserStatusManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryAnalyzer</servlet-name>
    <jsp-file>/queryanalyzer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAnalyzer</servlet-name>
    <url-pattern>/QueryAnalyzer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GeneratePeriod</servlet-name>
    <servlet-class>com.java.utility.GeneratePeriod</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Budgeting</servlet-name>
    <jsp-file>/budgeting.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Budgeting</servlet-name>
    <url-pattern>/Budgeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Forecasting</servlet-name>
    <jsp-file>/forecasting.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forecasting</servlet-name>
    <url-pattern>/Forecasting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LongRangePlanning</servlet-name>
    <jsp-file>/longRangePlanning.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LongRangePlanning</servlet-name>
    <url-pattern>/LongRangePlanning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContainerManagement</servlet-name>
    <jsp-file>/containermanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContainerManagement</servlet-name>
    <url-pattern>/ContainerManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContainerManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.etl.ContainerManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContainerManagementServlet</servlet-name>
    <url-pattern>/ContainerManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DimensionsManagement</servlet-name>
    <jsp-file>/dimensionsmanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DimensionsManagement</servlet-name>
    <url-pattern>/DimensionsManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExtractionManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.etl.ExtractionManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtractionManagementServlet</servlet-name>
    <url-pattern>/ExtractionManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransformationManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.etl.TransformationManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransformationManagementServlet</servlet-name>
    <url-pattern>/TransformationManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadingManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.etl.LoadingManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadingManagementServlet</servlet-name>
    <url-pattern>/LoadingManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RunETL</servlet-name>
    <jsp-file>/runETL.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunETL</servlet-name>
    <url-pattern>/RunETL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RunETLManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.etl.RunETLManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunETLManagementServlet</servlet-name>
    <url-pattern>/RunETLManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DictionaryManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.etl.DictionaryManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionaryManagementServlet</servlet-name>
    <url-pattern>/DictionaryManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AppConfigurations</servlet-name>
    <jsp-file>/appconfigurations.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppConfigurations</servlet-name>
    <url-pattern>/AppConfigurations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataModeling</servlet-name>
    <jsp-file>/datamodeling.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataModeling</servlet-name>
    <url-pattern>/DataModeling</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AppConfigurationServlet</servlet-name>
    <servlet-class>com.java.servlet.appconfig.AppConfigurationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppConfigurationServlet</servlet-name>
    <url-pattern>/AppConfigurationServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountHierarchy</servlet-name>
    <jsp-file>/accounthierarchymanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountHierarchy</servlet-name>
    <url-pattern>/AccountHierarchy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountHierarchyManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.AccountHierarchyManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountHierarchyManagementServlet</servlet-name>
    <url-pattern>/AccountHierarchyManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountHierarchyStructureManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.AccountHierarchyStructureManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountHierarchyStructureManagementServlet</servlet-name>
    <url-pattern>/AccountHierarchyStructureManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountHierarchyMappingManagementServlet</servlet-name>
    <servlet-class>com.java.servlet.AccountHierarchyMappingManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountHierarchyMappingManagementServlet</servlet-name>
    <url-pattern>/AccountHierarchyMappingManagementServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountHierarchyMapping</servlet-name>
    <jsp-file>/accounthierarchymapping.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountHierarchyMapping</servlet-name>
    <url-pattern>/AccountHierarchyMapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountHierarchyStructureManagement</servlet-name>
    <jsp-file>/accounthierarchystructuremanagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountHierarchyStructureManagement</servlet-name>
    <url-pattern>/AccountHierarchyStructureManagement</url-pattern>
  </servlet-mapping>
</web-app>